* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Roboto Slab', serif;
}

.title {
    width: 100%;
    height: 100vh;
    background-image: url(../img/donation-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.title-description {
    color: white;
    padding-top: 200px;
    text-align: center;
}

.title-description h1 {
    font-size: 40px;
    font-weight: bold;
}

.title-text {
    margin: 0px 100px 10px 100px;
    padding: 10px;
}

.link-btn {
    font-size: 18px;
    color: white;
    background-color: tomato;
    border: none;
    border-radius: 5px;
    padding: 15px 30px;
}

.donate-today {
    margin: 80px 50px;
}

.donate-title {
    text-align: center;
    margin-left: 150px;
    margin-right: 150px;
    padding: 15px;
}

.donate-text {
    margin-bottom: 15px;
}

.donation-card {
    display: flex;
    justify-content: space-evenly;
}

.card-item {
    width: 80px;
    height: 80px;
    padding: 10px;
    background-color: rgba(128, 128, 128, 0.200);
    border-radius: 7px;
}

.card-item h1 {
    text-align: center;
    line-height: 80px;
}

#card-2 {
    width: 80px;
    height: 80px;
    line-height: 80px;
    padding: 10px;
    text-align: center;
    background-color: rgba(255, 99, 71, 0.300);
    border: 1px solid tomato;
    border-radius: 7px;
}

.amount input {
    width: 80%;
    margin: 40px 90px;
    border: none;
    border-bottom: 1px solid tomato;
    text-align: center;
}

.amount input:focus {
    outline: none;
}

.donate-today button {
    margin: 0 370px;
}

.donation-plan {
    margin: 80px 40px;
}

.plan-card {
    display: flex;
    justify-content: space-evenly;
    margin-top: 15px;
}

.plan-item {
    width: 270px;
    height: 270px;
    padding: 10px;
    /* background-color: rgba(128, 128, 128, 0.200); */
    border-radius: 10px;
}

.plan-content {
    margin-top: 25px;
}

.plan-item-img {
    margin-bottom: 10px;
}

.plan-item-title {
    margin-bottom: 10px;
}

#item-1 {
    background-color: rgba(173, 216, 230, 0.200);
}

#item-2 {
    background-color: rgba(255, 182, 193, 0.200);
}

#item-3 {
    background-color: rgba(255, 255, 0, 0.200);
}

.update {
    margin: 80px 40px;
}

.update-title {
    margin-bottom: 30px;
}

.update-box {
    width: 550px;
    height: 150px;
    margin: 0 auto;
    background-color: rgba(245, 222, 179, 0.400);
}

.input-filed {
    text-align: center;
    padding-top: 50px;
}

#email {
    background-color: rgba(128, 128, 128, 0.200);
    padding: 15px 20px;
    border: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

#submit-btn {
    background-color: tomato;
    color: white;
    border: none;
    border-top-right-radius: 5px;
    border-top-right-radius: 5px;
    padding: 15px 25px;
    margin-left: -6px;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 30px;
}

#footer-heading {
    color: tomato;
    margin-bottom: 10px;
}