* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Roboto Slab', serif;
}

.title {
    width: 100%;
    height: 100vh;
    background-image: url(../img/donation-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.title-description {
    color: white;
    padding-top: 200px;
    text-align: center;
}

.title-description h1 {
    font-size: 40px;
    font-weight: bold;
}

.title-text {
    margin: 0px 100px 10px 100px;
    padding: 10px;
}

.link-btn {
    color: white;
    background-color: tomato;
    border: none;
    border-radius: 5px;
    padding: 15px 30px;
}


footer {
    background-color: black;
    color: white;
    text-align: center;
}

#footer-heading {
    color: tomato;
}